body{
	  background: -webkit-radial-gradient(red, yellow, green); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(red, yellow, green); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(red, yellow, green); /* For Fx 3.6 to 15 */
    background: radial-gradient(red, yellow, green); /* Standard syntax (must be last) */
}


h3{
	text-align: center;
	color: red;
}

.row {
    margin-right: 15px;
    margin-left: 15px;
}

.thumbnail{
	 border-radius: 80px/20px;
}

.navbar-right {
    margin-right: 20px;
    margin-top: 10px;
    }

.time{
	color: #87C2D4;
}

.container-fluid{
	margin-top: 30px;
    margin-bottom: 15px;
}

.searchby{
	margin-top: 15px;
	margin-left: 15px;
	color: #87c2d4;
}

.pcolor{
	color: #87c2d4;
	font-weight: bold;
}

.modal-content{
	 border-radius: 80px/15px;
	 background-color:#87c2d4;
}

.btn-primary{
	margin-left:510px;
	margin-bottom:25px;
}